.picker {
  position: fixed;
  top: 24px;
  right: 24px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 20px 20px;

  div {
    opacity: 0.5;
    transition: all 0.5s;
    cursor: pointer;
    background-color: #161616;
    padding: 20px 20px;
    border-radius: 10px;

    &:hover {
      opacity: 1;
    }
  }
}
